@{
    ViewBag.Title = "Working with XML";
}

@section scripts {
    <script src="~/Scripts/embeddedXslt.js"></script>
}

@section head {
    <link href="~/Content/XsltXml/embedded.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <h1>Milepæl 6</h1>
        <p>"Eleven kender opbygningen, anvendelsen og konstruktion af XSL templates til at foretage XSLT."</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Indlejret XSLT</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Indlejret her</p>
                    <div id="example" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>test</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>