@{
    ViewBag.Title = "Working with XML";
}

<div class="row">
    <div class="col-md-12">
        <h1>Milepæl 6</h1>
        <p>"Eleven kender opbygningen, anvendelsen og konstruktion af XSL templates til at foretage XSLT."</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Simpel XSL Transform</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Åben selve xml dokumentet, og se transformeringen direkte</p>
                    <p><a class="btn btn-default" href="http://localhost:50294/Content/XsltXml/XsltTest.xml">Learn more &raquo;</a></p>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Templates og inlejring</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Indlejret XSLT</p>
                    @Html.ActionLink("Læs mere »", "EmbeddedXslt", "XsltExamples", new { area = "" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div>